p{
    color:hsl(332, 51%, 32%) ;
    font-size: 16px;
}

.classname{
    color: hsl(14, 45%, 36%);
    font-size: 16px;
    
}
.nutrition{
    color: hsl(332, 51%, 32%);
    font-size: 16px;
}
img{
    width:1440px ;
}


